@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body 
{
  height: 100%;
  width: 100%;
  background-color: white;
  
}
.user-info{
  display: flex;
 flex-direction: column;
  align-items: center;
  text-align: center;

}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: red; */
    height: 80px;
    width: 100%;
    /* display: none; */
  }
  
  li{
    list-style: none;
    display: inline;
    margin: 0px 8px;
    color:#aaa;
    font-size: 1.3rem;
    cursor: pointer;
  }
  
  .left{
    font-size: 20px;
    color:#0f0;
  }

  
wrapper-admin{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: transparent;
   height: 1000px;
}
body.dark {background-color: #292c35;} /* #9b59b6 */

body.dark h1, body.dark .support a ,body.dark .wrapper-user{color: #fff;}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right{
  display: flex;
  justify-content: center;
  /* background-color: red; */
  width: 30%;
}

.fa-moon {color: #f1c40f;}

.fa-sun {color: #f39c12;}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}










.support {
	position: absolute;
	right: 20px;
	bottom: 20px;
}

.support a {
  color: #292c35;
  font-size: 32px;
  backface-visibility: hidden;
  display: inline-block;
  transition: transform 0.2s ease;
}

.support a:hover{
  transform: scale(1.1);
}