@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
 
}

html,body 
{
  height: 100%;
  width: 100%;
  /* background: black; */
}

.navbar-user{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: red; */
    height: 80px;
    width: 100%;
    /* box-shadow: -1px 2px 18px 0px #aaa; */
    /* display: none; */
  }
  
  li{
    list-style: none;
    display: inline;
    margin: 0px 8px;
    color:black;
    font-size: 1.3rem;
    cursor: pointer;
  }
  
  .left{
    font-size: 20px;
    color:#0f0;
  }
  .user-iconn{
    margin-right: 20px;
  }
  .right{
    display: flex;
    justify-content: center;
    /* background-color: red; */
    width: 30%;
  }
  
   
   
.wrapper-user{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background: black; */
   height: 100%;
   width: 100%;
   flex-direction: column;
}

.content-user{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 80px);
  width: 100%;
  /* background-color: red; */
}

.content-inner-div{
  display: flex;
  justify-content:flex-start;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 500px;
  /* background-color: rebeccapurple; */
  margin: auto;
}

.upper-div{
  display: flex;
  justify-content: baseline;
  align-items: flex-end;
   height: 30px;
   width: 100%;
   /* background-color: red; */
}

.loader{
  
  height: 15px;
  margin-bottom: 6px;
  width: 60%;
  
  margin-left: 90px;
  border: 1.5px solid #aaa;
  background-color: transparent;
  border-radius: 20px;
  
}
#progress{
  height: 100%;
  width: 10%;
  background-color: #0f0;
  border-radius: 20px;
}

.timer-div{
  display: flex;
  justify-content: center;
  align-items: center;
   margin-left: 30px;
   height: 30px;
   width: 10%;
   /* background-color: aqua; */
}
.box-div{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  /* background-color: #0f0; */
  margin-bottom: 10px;
}
a{
  text-decoration: none;
}
.tense-div{
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-radius: 20px;
  font-weight: 600;
  height: 30px;
  box-shadow: #aaa;
  /* background-color: black; */
  box-shadow: -1px 1px 18px 0px #aaa;

  margin-bottom: 15px;
  border: 1.5px solid #aaa;

}
.row{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
  width: 100%;
  margin-bottom: 8px;
  /* background-color: blue; */
}
.row div{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 30px;
  width: 15%;
  border: 1.7px solid rgb(70, 68, 68);
  border-radius: 3px;
  overflow-x: auto;
  overflow-y: none;
  
}
.first{
  font-weight: 600;
}
.have{
  color:black;
}
.focused{
  border:1px solid lightskyblue;
}

.options-button{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 50px;
  /* background-color: red; */
}
.inner-options{
  width: 70%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
}

.options-button button{
  padding: 5px 17px;
  margin: 0px 10px;
}
#next{
  padding: 1px 7px;
  font-size: 25PX;
  background-color: transparent;
  border: none;
  border: 1px solid black;
  border-radius: 10%;
}
.start-but{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  width: 100%;

}
.start-but button{
  padding: 5px 27px;
  margin: 0px 10px;
  background-color: rgb(7, 70, 197);
  border: none;
  border-radius: 20px;
  color:white;
  font-size: 16px;
  font-weight: 600;
}
body.dark {background-color: #292c35;} /* #9b59b6 */

body.dark h1, body.dark .support a ,body.dark .wrapper-user,body.dark li,body.dark .left{color: #fff;}

body.dark .tense-div{
  box-shadow: none;
}
body.dark .inner-options button{
  color:white;
  background-color: transparent;
  border: 1px solid rgb(160, 160, 160);
  border-radius: 5px;
}
body.dark .have{
  color:white;
}
.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {color: #f1c40f;}

.fa-sun {color: #f39c12;}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}











