<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
    
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper-user">
        <div class="navbar-user">
            <div class="left">
              USER
            </div>
        
            <div class="right">
              <div class="user-iconn">
                <input type="checkbox" class="checkbox" id="checkbox">
               <label for="checkbox" class="checkbox-label">
               <i class="fas fa-moon"></i>
               <i class="fas fa-sun"></i>
                <span class="ball"></span> 
              </div>
              <li>Home</li>
              <li>About</li>
              <li>services</li>
            
            </div>
        </div>


            <div class="content-user">
              <div class="content-inner-div">
                <div class="upper-div">
                  <div class="loader">

                  </div>
                  <div class="timer-div">
                    00:00
                  </div>
                </div>
                <div class="box-div">
                  <div class="tense-div">
                    to have + perfect Tense
                  </div>
                  <div class="row">
                    <div class="first" contenteditable="true">I</div>
                    <div class="have" contenteditable="true">Have</div>
                    <div class="have" contenteditable="true">Been</div>
                  </div>
                  <div class="row">
                    <div class="first" contenteditable="true">I</div>
                    <div class="have" contenteditable="true">Have</div>
                    <div class="have" contenteditable="true">Been</div>
                  </div>
                  <div class="row">
                    <div class="first" contenteditable="true">I</div>
                    <div class="have" contenteditable="true">Have</div>
                    <div class="have" contenteditable="true">Been</div>
                  </div>
                  <div class="row">
                    <div class="first" contenteditable="true">I</div>
                    <div class="have" contenteditable="true">Have</div>
                    <div class="have" contenteditable="true">Been</div>
                  </div>
                  <div class="row">
                    <div class="first" contenteditable="true">I</div>
                    <div class="have" contenteditable="true">Has</div>
                    <div class="have" contenteditable="true"></div>
                  </div>
                  <div class="row">
                    <div class="first" contenteditable="true">I</div>
                    <div class="have" contenteditable="true">Have</div>
                    <div class="have" contenteditable="true"></div>
                  </div>
                  <div class="row">
                    <div class="first" contenteditable="true">I</div>
                    <div class="have" contenteditable="true">Have</div>
                    <div class="have" contenteditable="true"></div>
                  </div>
                  <div class="row">
                    <div class="first" contenteditable="true">I</div>
                    <div class="have" contenteditable="true"></div>
                    <div class="have" contenteditable="true"></div>
                  </div>
                  <div class="row">
                    <div class="first" contenteditable="true">I</div>
                    <div class="have" contenteditable="true">Has</div>
                    <div class="have" contenteditable="true"></div>
                  </div>
                  <div class="row">
                    <div class="first" contenteditable="true">I</div>
                    <div class="have" contenteditable="true">Have</div>
                    <div class="have" contenteditable="true"></div>
                  </div>
                  <div class="row">
                    <div class="first" contenteditable="true">I</div>
                    <div class="have" contenteditable="true"></div>
                    <div class="have" contenteditable="true">Been</div>
                  </div>

                  
                </div>
                <div class="options-button">
                  <div class="inner-options">
                  <button id="have">have</button>
                  <button id="Has">Has</button>
                  <button id="been">been</button>
                </div>
                <div class="next-but">
                  <button id="next"><i class="ri-arrow-right-s-line"></i></button>
                </div>
                </div>
                <div class="start-but">
                 <button>Start</button>
                </div>
              </div>
            </div>


           <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </div>
</body>
</html>